.#{$prefix}-c-bg{
   position: absolute;
   display:grid;
   height:100%;
   width:100%;
   top:-70px;
   left:0;
   z-index: 1;
   
   @media only screen and (min-width: 992px){
      position:fixed;
      top:0px;
      grid-template-columns: 30% 1fr;
   }
   @media only screen and (min-width: 1200px){
      grid-template-columns: 35% 1fr;
   }
   
   &__carrousel{
      background-color:#f0ebdc;
   }
}