.#{$prefix}-c-instructores{
   display:none;
   column-gap: .75rem;
   row-gap: .75rem;
   grid-template-columns: repeat(2, 1fr);
   
   @media only screen and (min-width:768px){
      grid-template-columns: repeat(3, 1fr);
   }

   @media only screen and (min-width:992px){
      grid-template-columns: repeat(5, 1fr);
   }

   &.active{
      display: grid;
   }
}