.#{$prefix}-c-bisi{
   display: grid;
   align-items: center;
   row-gap: .75rem;
   padding:40px 0 0;

   
   h2{
      margin:.75rem 0;
      text-align: center;
      @media only screen and (min-width: 992px){
         text-align: initial;
      }
   }

   &__table{
      h3{
         text-align: center;
         @media only screen and (min-width: 992px){
            text-align: initial;
         }
      }
   }
}