.#{$prefix}-c-productDetails{
   display: grid;
   width:100%;
   
   @media only screen and (min-width: 992px){
      row-gap: 2rem;
      height: 600px;
      width: 500px;
      grid-template-rows:auto 1fr;
      margin-left:-65px;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
   }
   
   .price{
      font-size: 60px;
      font-weight: 700;
      margin:0;
      text-align: right;
      color:rgba( #000000, .2);

      @media only screen and (min-width: 992px){
         font-size: 38px;
         text-align: initial;
         margin:0 0 0 100px;
         color:#000000;
      }
   }
   
   .image{
      grid-row: 1;
      display: grid;
      column-gap: 1rem;
      row-gap: .75rem;
      align-items: end;
      
      @media only screen and (min-width: 992px){
         grid-row: initial;
         row-gap: 2rem;
         grid-template-columns: 1fr 5fr;

      }
      
      &-detailed{
         background-color: grey;
         height: 100%;
         width: 100%;
         box-shadow: 0 0 0px rgba(0,0,0,.1);
         overflow: hidden;
         grid-row: 1;
         
         img{
            height: 100%;
            width:100%;
            object-fit: cover;
            object-position: center;
         }
         
         @media only screen and (min-width: 992px){
            grid-row: initial;
         }
      }
      
      &-thumbs{
         display:inline-grid;

         & > ul{
            display:inline-grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 0.75rem;
            column-gap: 0.75rem;
            width:100%;

            @media only screen and (min-width: 992px){
               row-gap: 0.75rem;
               column-gap: initial;
               grid-template-columns: initial;
            }

            li{
               background-color: grey;
               height:120px;
               width:100%;
               overflow: hidden;
               cursor: pointer;

               @media only screen and (min-width: 992px){
                  height:80px;
               }

               img{
                  height: 100%;
                  width:100%;
                  object-fit: cover;
                  object-position: center;
               }
            }
         }
      }
   }
}