.#{$prefix}-e-btn{
   display:inline-block;
   margin:20px 0;
   font-weight: 700;
   padding:13px 28px;
   border-radius:50px;
   background-color:white;
   box-shadow: 0 8px 20px rgba(0,0,0,.1);
   font-size:16px;
   color:black;
   text-transform: uppercase;
   letter-spacing: 1.15px;
   transition: all ease .3s;
   
   &:hover{
      opacity: .6;
   }
}