.#{$prefix}-e-table{
   width:100%;

   tr{
      td{
         padding:15px 0;
         border-bottom:1px solid ;
         border-color: rgba(#000000, .2);
   
   
   
         span{
            display: block;
            line-height: 1.4;
            font-weight: 700;
         }
      }
   }
}