.#{$prefix}-i-instructor{
   position:relative;
   width:100%;
   height:360px;
   background-color:white;
   border-radius: 15px;
   align-items: end;
   border: 1px solid #f2f2f2;
   overflow: hidden;

   .this-image{
      position: absolute;
      bottom:-10px;
      left: -50px;
      width:95%;

      img{
         height:100%;
         width:100%;
         object-fit: cover;
         object-position: center;
      }
   }

   .this-quote{
      padding:20px 40px;
      font-size:12px;
      box-sizing: border-box;
      width:100%;
      font-weight:400;

   }

   .this-name{
      position:absolute;
      cursor: none;
      bottom:0;
      right:-5px;
      writing-mode:tb;
      letter-spacing: 2px;
      font-size:48px;
      line-height: 48px;
      margin:0;
      color:rgba(#000000, 0.1);
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(180deg);
   }
}