.#{$prefix}-l-herobanner{
   display: grid;
   height: initial;
   column-gap: 0.75rem;
   
   @media only screen and (min-width: 992px){
      grid-template-columns: 1fr 54%;
      height: calc(100vh - 70px);
   }
   
   @media only screen and (min-width: 1200px){
      grid-template-columns: 1fr 60%;

   }

   &__description, &__image{
      display: grid;
      align-items: center;
   }
   
   &__description{
      padding:.75rem 0;
      text-align: center;

      .title{
         margin:.25em 0;

         @media only screen and (min-width: 992px){
            margin:.67em 0;
         }
      }
      
      @media only screen and (min-width: 992px){
         padding:80px 0 80px 80px;
         text-align: initial;
      }
   }
}