.#{$prefix}-l-header{
   position:relative;
   display: grid;
   height:70px;
   width:100%;
   align-items: center;
   z-index:10;
   & > .container{
      display: grid;
      column-gap: 0.75rem;
      grid-template-columns: auto 1fr;
      align-items: center;
   }
}