.#{$prefix}-l-details{
   display: grid;
   grid-template-columns: initial;
   column-gap: 0.75rem;
   
   @media only screen and (min-width: 992px){
      grid-template-columns: 1.2fr 1fr;
   }

   @media only screen and (min-width: 1200px){
      grid-template-columns: 1fr 52%;

   }
}