.#{$prefix}-l-instructores{
   position:relative;


   &__paginacion{
      padding:10px 0;
      span{
         display: inline-block;
         height: 20px;
         width:20px;
         background-color:darken(#e3e3e3, 20%);
         border-radius: 50%;
         margin-right:10px;
         cursor: pointer;

         &:hover{
            background-color:darken(#e3e3e3, 30%);
         }
      }
   }
}