.#{$prefix}-l-footer{
   display: grid;
   align-items: center;
   padding:20px 0;
   @media only screen and (min-width: 768px) {
      justify-items: center;
   }
   
   ul{
      display: inline-grid;
      align-items: center;
      row-gap: .75rem;
      
      @media only screen and (min-width: 768px) {
         row-gap: initial;
         column-gap: .75rem;
         grid-template-columns: repeat(2, 1fr);
      }

      li{
         text-align: center;
      }
   }

}