@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html{
   margin:0;
   padding:0;
   font-family: 'Roboto', sans-serif;
}

ul{
   padding:0;
   margin:0;

   li{
      list-style:none;
   }
}

a{
   color: inherit;
   display: block;
   text-decoration: none;

   &:hover{
      color:inherit;
   }
}

.container{
   position: relative;
   display: block;
   width:100%;
   padding: 0 .75rem;
   margin: 0 auto;
   box-sizing: border-box;
   max-width:100%;

   @media only screen and (min-width: 768px){
      max-width:750px;
   }

   @media only screen and (min-width: 992px){
      max-width:970px;
   }

   @media only screen and (min-width: 1200px){
      max-width:1140px;
   }

   &.is-fluid{
      max-width:100%;
   }

   &.is-bisi{
      height: 100vh;
   }
}